* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #ffc67d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    /* background: #3a4452; */
    background: #ffc5c5;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal {
    width: 145px;
}

form input.operator {
    color: black;
    font-weight: bold;
}

/* Media queries for mobile responsiveness */

/* For screens with a maximum width of 768px (tablets and smaller) */
@media only screen and (max-width: 768px) {
    .calculator {
        padding: 15px;
    }
    .calculator form input {
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
    form .display input {
        font-size: 30px;
    }
    form input.equal {
        width: 100px;
    }
}

/* For screens with a maximum width of 480px (mobile phones) */
@media only screen and (max-width: 480px) {
    .calculator {
        padding: 10px;
    }
    .calculator form input {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
    form .display input {
        font-size: 20px;
    }
    form input.equal {
        width: 80px;
    }
}